@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

body {
    font-family: 'Iceberg', cursive;
    line-height: 1.6;
    margin: 5%;
    padding: 0;
    color: #800000;
    background-color: #12151c;
}

#content {
    width: 800px;
    margin: 0 auto;
    background-color: #1b222c;
    padding: 25px 50px 75px 100px;
}

header {
    text-align: center;}

    
main {
    padding: auto;
    text-align: center;
}

footer {
    padding: 1rem;
    text-align: center;
}
